__pycache__/
db.sqlite3
To_Do/__pycache__/settings.cpython-39.pyc
To_Do/__pycache__/settings.cpython-39.pyc
ENV/
.vscode/settings.json
To_Do/__pycache__/settings.cpython-39.pyc
todo/__pycache__/views.cpython-39.pyc
db.sqlite3
db.sqlite3
